<div class="flex flex-row h-fit">
  <img
    src="{{site.baseurl}}/assets/images/oas-cta.png"
    class="h-48 w-auto !my-auto mr-8"
  />
  <div class="h-fit">
    <div class="grow space-y-1 mb-4">
      <h1 class="font-bold text-4xl lg:text-3xl text-white">
        Predict Assay Results in Minutes!
      </h1>
      <h2 class="font-medium text-md lg:text-lg text-white">
        Oloren Analysis Suite (OAS) brings QSAR to your browser - allowing you
        to upload data, train, evaluate, visualize, and share models in just a
        few clicks.
        <a href="/benchmarks" class="underline text-white">Click here</a> to see
        how our models stack up on QSAR benchmarks.
      </h2>
    </div>
    <btn class="btn cta text-white font-regular text-2xl normal-case"
      >Try Oloren Analysis Suite</btn
    >
  </div>
</div>
