<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" data-theme="light">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="assets/images/techicon.svg">
    <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">
    <script src="https://unpkg.com/feather-icons"></script>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "ecglzxg0o6");
  </script>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMJ5EWN4YY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-ZMJ5EWN4YY');
</script>
  </head>
  <body class="bg-white text-black">

    <div class="flex w-screen flex-col bg-white text-primary">
      <section
        id="mobile-navbar"
        class="flex h-fit w-full flex-row justify-between px-4 pt-4 lg:hidden"
      >
        <a class="h-6 w-fit" href="{{site.url}}">
          <img src="{{ "/assets/images/logo.svg" | relative_url }}" class="h-full
          w-fit" id="logo" />
        </a>
        <div class="flex h-full flex-col items-end">
          <input class="burger-check" id="burger-check" type="checkbox" /><label
            for="burger-check"
            class="burger"
          ></label>
          <nav
            id="navigation1"
            class="float navigation flex flex-col items-end px-1"
          >
            <a href="{{site.url}}/orchestrator.html">Orchestrator</a>
            <a href="{{site.url}}/interfacepro.html">Interface Pro</a>
            <a href="{{site.url}}/agents.html">LLM Agents</a> 
            <a href="mailto:contact@oloren.ai">Demo</a>
          </nav>
        </div>
      </section>
      <section
        id="navbar"
        class="mx-auto mt-6 hidden h-24 w-3/4 max-w-7xl items-center justify-between md:max-w-7xl lg:flex"
      >
        <a class="h-1/4 w-fit" href="{{site.url}}">
          <img src="{{ "/assets/images/logo.svg" | relative_url }}" class="h-full
          w-fit" id="logo" />
        </a>
        <ul
          id="links"
          class="font-lg flex flex-row items-center space-x-10 text-secondary"
        >
          <a href="{{site.url}}/orchestrator.html">Orchestrator</a>
          <a href="{{site.url}}/interfacepro.html">Interface Pro</a>
          <a href="{{site.url}}/agents.html">LLM Agents</a>
          <a
            class="olorengradient h-fit w-fit rounded-xl p-px"
            href="mailto:contact@oloren.ai"
          >
            <div class="outline-button rounded-[11px] bg-white px-5 py-3">Contact Us</div>
          </a>
        </ul>
      </section>

    {{ content }}

  <section id="footer" class="h-fit w-full bg-[#F6F9FE] py-16 lg:py-24">
    <div
      class="m-auto flex flex-col items-center justify-between space-y-8 md:w-3/4 md:max-w-7xl md:flex-row md:space-y-0"
    >
      <div>
        <img src="{{ "/assets/images/logo.svg" | relative_url }}" class="h-5
        w-auto"/>
      </div>

      <div
        id="links"
        class="font-lg flex flex-col items-center space-y-2 text-left text-secondary"
      >
        <a href="{{site.url}}/orchestrator.html">Orchestrator</a> 
        <a href="{{site.url}}/interfacepro.html">Interface Pro</a>
        <a href="{{site.url}}/agents.html">LLM Agents</a>
        <a href="mailto:contact@oloren.ai">Demo</a>
      </div>

      <a class="olorengradient h-fit w-fit rounded-xl p-px" href="mailto:contact@oloren.ai">
        <div class="outline-button rounded-[11px] bg-[#F6F9FE] px-8 py-3">Contact Us</div>
      </a>
    </div>
  </section>

    <script>
      feather.replace()
    </script>

  </body>
</html>

